// Here you can add other styles
.loginBg{
background-image: url('../assets/images/loginbg.jpg');
background-repeat: no-repeat;
background-size: cover;
}
.list-none{
    list-style:none;
    padding-left: 0;
    margin-bottom: 0;
}
.paymentCard{
    margin-bottom: 2%;
    cursor: pointer;
    .fa-envelope{
        color: #07078b;
    }
    .fa-phone{
        color: green;
    }
}

.preview-slider-img{
    margin-top: 30px;
    position: relative;
   
 span{
    background: aqua;
    width: 26px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    aspect-ratio: 1;
    right: 0;
    top: -14px;

 }
}