// Here you can add other styles
.loginBg{
background-image: url('../assets/images/loginbg.jpg');
background-repeat: no-repeat;
background-size: cover;
}
.list-none{
    list-style:none;
    padding-left: 0;
    margin-bottom: 0;
}
.paymentCard{
    margin-bottom: 2%;
    cursor: pointer;
    .fa-envelope{
        color: #07078b;
    }
    .fa-phone{
        color: green;
    }
}

.preview-slider-img{
    margin-top: 30px;
    position: relative;
   
 span{
    background: #3153b9;
    width: 26px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    aspect-ratio: 1;
    right: 0;
    font-size: 12px;
    top: -14px;
    color: #fff;
cursor: pointer;
padding-top: 4px;
 }
}
.fa.fa-trash{
    color: red;
    cursor: pointer;
}

.image-section{
    position: relative;
}
.fileUpdate{
    background-color: #8b8bd280;
  
        position: absolute;
        top: 50%;
        left: 40%;
        width: 100px;
        height: 100px;
        border-radius: 5px;
        text-align: center;
        display: grid;
        place-items: center;
        font-size: 20px;
        color: #fff;
    }
a{
    text-decoration: none;
}